<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изменение статуса самоката</title>
</head>
<body>
    <h1>Изменение статуса самоката "{{ scooter.model }}"</h1>
    <form action="" method="post">
        {% csrf_token %}
        <select name="status">
            {% for status in scooter.STATUS_CHOICES %}
                <option value="{{ status.0 }}"{% if scooter.status == status.0 %} selected{% endif %}>{{ status.1 }}</option>
            {% endfor %}
        </select>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>